<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="BD_Kevin_Bryan"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BD_Kevin_Bryan;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			providerName="sql.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>